.comment-form {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-list {
  display: flex;  
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}